@model UserEditDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Profile Informations and Update Password</h1>

<form method="post">
    <label>Name</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <label>Surname</label>
    <input type="text" class="form-control" asp-for="Surname" />
    <br />
    <label>Username</label>
    <input type="text" class="form-control" asp-for="Username" readonly/>
    <br />
    <label>Email Address</label>
    <input type="text" class="form-control" asp-for="EMail" />
    <br />
    <label>Password</label>
    <input type="password" class="form-control" asp-for="Password" />
    <br />
    <label>Confirm Password</label>
    <input type="password" class="form-control" asp-for="Confirm" />
    <br />
    <button class="btn btn-success">Update Informations</button>
</form> 

