@model List<BookingApiViewModel.Result>
@{
    Layout = null;
    int count = 0;
    int tlg = 0;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
   <table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hotel Name</th>
        <th>Hotel Rate</th>
        <th>Hotel Details</th>
    </tr>
    @foreach (var item in Model)
    {
        tlg++;
        <tr>
            <th>@tlg</th>
            <td>@item.name</td>
            <td>@item.reviewScore</td>
            <td><a href="#" class="btn btn-outline-dark">Detaylar</a></td>
        </tr>
    }
</table>


