@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

@await Component.InvokeAsync("_DashBoardHeadPartial")

<div class="container-fluid mt-3">

    @await Component.InvokeAsync("_DashBoardWidgetPartial")

    @await Component.InvokeAsync("_DashBoardLast4Crew")
    
    @await Component.InvokeAsync("_DashBoardLast6Bookings")

    @await Component.InvokeAsync("_DashBoardSubscribeCountPartial")

    @await Component.InvokeAsync("_DashBoardScriptPartial")
  

</div>
<!-- #/ container -->



